@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital@1&display=swap');

.score-chart {
  border-radius: 5px;
  box-sizing: border-box;
  color: #dfe6e9;
  display: flex;
  flex-direction: column;
  gap: 3px;
  width: 100%;
  padding: 10px;
}

.score-chart__scores {
  all:unset;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  width: 100%;
}

.score-chart__table-head {
  font-weight: 600;
}

.score-chart__raw {
  width: 100%;
}
.score-chart__raw--common {
  background-color: #374042;
}

.score-chart__scores td {
  width: calc(100%/5);
  padding: 10px;
}
.pages {
  display: flex;
  gap: 3px;
}
.pageBtn {
 all: unset;
 box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
 width: 30px;
 height: 30px;
 text-align: center;
 border-radius: 3px;
 transition: 0.25s all;
}

.pageBtn:hover {
  background-color: #374042;
}


.back {
 all: unset;
 color: #dfe6e9; 
 box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
 width: 50px;
 height: 50px;
 text-align: center;
 border-radius: 3px;
 transition: 0.25s all;
}

.back:hover {
  background-color: #374042;
}

