  button {
    -webkit-app-region: no-drag;
  }

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48;
  color: #dfe6e9;
  margin: 6px 0px 0 0;
}
  .wrapper__button{
    all: unset;
    color: #dfe6e9;
    position: absolute;
    top: 50px;
    left: 50px;
    text-align: center;
    width: 40px;
    height: 40px;
    
    background-color: #181818;
    border: 1px solid #404040;
    border-radius: 5px;
    transition: 0.25s all;
  }

  .wrapper__button:hover {
    background-color: #242424;

  }
