@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');
.typing {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 10px auto;
  width: 80%;
}



.typing__text {
  background-color: #181818;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  box-sizing: border-box;
  color: #ffffff;
  font-family: "Ubuntu Mono";
  font-size: 25px;
  height: 350px;
  line-height: 80px;
  padding: 40px;
}
.typing__next-text{
  color: #7c878b;
  
}
.typing__text--sentence{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.typing__text--word{
  
}
.typing__text--long-text{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
  
.typing__page-count{
  font-size: 15px;
  text-align: center;
}
.typing__underbar {
  width: 12px;
  height: 5px;
  background-color: #b3b3b3;
  position: absolute;
}