.typing {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 10px;
}

.typing__input{
  background-color: #374042;
  border: 0px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  box-sizing: border-box;
  color: #dfe6e9; 
  font-family: 'Poppins', sans-serif;
  height: 45px;
  margin-bottom: 8px;
  padding: 8px;
  width: 100%;
}

.typing__input:focus {
  outline: none;
}

.typing__text {
  background-color: #374042;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  color: #dfe6e9;
  font-size: 18px;
  height: 275px;
  line-height: 50px;
  padding: 30px;
}
.typing__text--sentence{

}
.typing__text--word{
  
}
.typing__text--long-text{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
  
#typing__page-count{
  font-size: 15px;
  text-align: center;
}


