@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@700&display=swap');
.score-table {
  border-radius: 5px;
  box-sizing: border-box;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  color: #afafaf;
  gap: 3px;
  width: 80%;
  padding: 10px;
  margin: 10px auto;
}

.score-table__scores {
  all:unset;
  background-color: #181818;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  width: 100%;
}

.score-table__line {
  display: flex;
  width: 100%;
  font-size: 16px;
}
.score-table__item {
  height: 70px;
  line-height: 70px;
  margin-left: 15px;
  width: calc(100%/7); 
}

.score-table__item--title {
  color: #ffffff;
  font-family: 'Mulish', sans-serif;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
}
.score-table__item--name {
    font-size: 20px;
}
.score-table__item--int {
  box-sizing: border-box;
  display: flex;
  justify-content: flex-end;
  text-align: right;
  padding-right: 15px;
}
.score-table__item--string{
  text-align: center;
}
.score-table__line {
  transition: 0.2s all;
}
.score-table__line:hover {
  color: #ffffff;
  font-weight: 700;
}
.score-table__line--common {
  background-color: #1c1c1c;
}
.unit {
  color: #B3B3B3;
  margin-left: 4px;
  line-height: 74px;
  font-size: 12px;
}
.score-table__scores td {
  width: calc(100%/5);
  padding: 10px;
}
.pages {
  display: flex;
  gap: 3px;
}
.pageBtn {
 all: unset;
 box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
 width: 30px;
 height: 30px;
 text-align: center;
 border-radius: 3px;
 transition: 0.25s all;
}

.pageBtn:hover {
  background-color: #242424;
}


.back {
 all: unset;
 color: #ffffff; 
 box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
 width: 50px;
 height: 50px;
 text-align: center;
 border-radius: 3px;
 transition: 0.25s all;
}

.back:hover {
  background-color: #374042;
}

