.titleBar {
  -webkit-app-region: drag;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 25px;
    border-bottom: 1px solid #505050;
    -webkit-user-select: none;
}

.titleBar button {
    color: #dfe6e9;
    border: unset;
    width: 30px;
    height: 25px;
    font-size: 18px;
    text-align: center;
    background-color: #2d3436;
    transition: 0.25s all;
    -webkit-app-region: no-drag;
}

.titleBar .minimizeBtn:hover {
  background-color: #505050;
}
.titleBar .closeBtn:hover {
  background-color: #e95035;
}


.titleBar button img {
  width: 10px;
  image-rendering: -webkit-optimize-contrast;
  transform: translateZ(0);
  backface-visibility: hidden;
}
.logo{
  color: #dfe6e9;
  margin-left: 10px;
  font-size: 18px;
}

.functions {
  margin-right: 10px;
}