@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital@1&display=swap');

.result{
  display: flex;
  margin: 30px auto;
}
.speedChart{
  margin: 3px;
  border-radius: 3px;
  background-color: #374042;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}


.resultInfo{
  margin: 3px;
  padding: 3px;
  border-radius: 3px;
  background-color: #374042;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.resultInfo table {
  margin: 0 auto;
}
.resultInfo table td {
  padding: 5px;
}

.resultType {
 color: #b2bec3; 
 font-size: 13px;
}

.resultLanguage {
  color: #dfe6e9;
  font-size: 20px;
}
.info{
  display: flex;
  flex-direction: column;
}


.resultSend{
  display: flex;
}
.resultSend input{
  margin: 3px;
  font-size: medium;
  padding: 10px;
  width: 70%;
  height: 30px;
  border-radius: 3px;
  border: 0px;
  outline: none;
  font-family: 'Poppins', sans-serif;
  background-color: #374042;
  color: #dfe6e9;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.resultSend input:disabled{
  transition: 0.5s all;
}


.resultSend button{
  margin: 3px;
  width: 30%;
  height: 50px;
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  border: 0px;
  background-color: #374042;
  color: #dfe6e9;
  transition: 0.4s all;
}

.resultSend button:hover{
  background-color: #4f565a;
}

.resultSend div{
  text-align: center;
  line-height: 50px;
  margin: 3px;
  width: 30%;
  height: 50px;
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  border: 0px;  
  background-color: #374042;
  color: #dfe6e9;
}





.againBtn{
  display: flex;
}
.again{
  margin: 3px;
  width: 100%;
  height: 50px;
  font-size: 15px;
  border-radius: 3px;
  font-family: 'Poppins', sans-serif;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  border: 0px;
  background-color: #374042;
  color: #dfe6e9;
  transition: 0.4s all;
}

.again:hover{
  background-color: #4f565a;
}

.scoreChartBtn{
  display: flex;
}
.scoreChart{
  margin: 3px;
  width: 100%;
  height: 50px;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  border: 0px;
  background-color: #374042;
  color: #dfe6e9;
  transition: 0.4s all;
}

.scoreChart:hover{
  background-color: #4f565a;
}
