@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');

body{
  margin: 0px;
  overflow-x: hidden;
  overflow-y: hidden;
}

div{
  margin-top: 0px;
}


.app-dark {
  font-family: "Poppins", 'Noto Sans KR', sans-serif;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  background-color: #2d3436;
}

.app-light {
  font-family: "Poppins", 'Noto Sans KR', sans-serif;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  background-color: white;
}


.app hr {
  border: 1px solid #636e72;
  transform: scaleX(0.1);
  border-radius: 3px;
}

.test{
  transition: width .35s linear;
}

.img{
  text-align: center;
  width: 40px;
  height: 40px;
  margin-top: 5px;
  
}

.Btn1{
  width: 70px;
  overflow: hidden;
  font-size: 17px;
  border-radius: 3px;
  margin: 5px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  border: 0px;
  background-color: white;
}

